<div>
    <h2 id="page-heading">
        <span jhiTranslate="booksApp.file.home.title">Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file" [routerLink]="['/file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="booksApp.file.home.createLabel">
            Create new File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="files?.length === 0">
        <span jhiTranslate="booksApp.file.home.notFound">No files found</span>
    </div>
    <div class="table-responsive" *ngIf="files?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="booksApp.file.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileName"><span jhiTranslate="booksApp.file.fileName">File Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileContent"><span jhiTranslate="booksApp.file.fileContent">File Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span jhiTranslate="booksApp.file.createTime">Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of files ;trackBy: trackId">
                <td><a [routerLink]="['/file', file.id, 'view' ]">{{file.id}}</a></td>
                <td>{{file.userId}}</td>
                <td>{{file.fileName}}</td>
                <td>{{file.fileContent}}</td>
                <td>{{file.createTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/file', file.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/file', file.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'file', { outlets: { popup: file.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="files?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
