<div>
    <h2 id="page-heading">
        <span jhiTranslate="booksApp.square.home.title">Squares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-square" [routerLink]="['/square/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="booksApp.square.home.createLabel">
            Create new Square
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="squares?.length === 0">
        <span jhiTranslate="booksApp.square.home.notFound">No squares found</span>
    </div>
    <div class="table-responsive" *ngIf="squares?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="booksApp.square.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bookSaying"><span jhiTranslate="booksApp.square.bookSaying">Book Saying</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comment"><span jhiTranslate="booksApp.square.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span jhiTranslate="booksApp.square.createTime">Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentId.id"><span jhiTranslate="booksApp.square.parentId">Parent Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bookId.id"><span jhiTranslate="booksApp.square.bookId">Book Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let square of squares ;trackBy: trackId">
                <td><a [routerLink]="['/square', square.id, 'view' ]">{{square.id}}</a></td>
                <td>{{square.userId}}</td>
                <td>{{square.bookSaying}}</td>
                <td>{{square.comment}}</td>
                <td>{{square.createTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="square.parentId">
                        <a [routerLink]="['../square', square.parentId?.id, 'view' ]" >{{square.parentId?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="square.bookId">
                        <a [routerLink]="['../book', square.bookId?.id, 'view' ]" >{{square.bookId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/square', square.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/square', square.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'square', { outlets: { popup: square.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="squares?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
