<div>
    <h2 id="page-heading">
        <span jhiTranslate="booksApp.experience.home.title">Experiences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-experience" [routerLink]="['/experience/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="booksApp.experience.home.createLabel">
            Create new Experience
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="experiences?.length === 0">
        <span jhiTranslate="booksApp.experience.home.notFound">No experiences found</span>
    </div>
    <div class="table-responsive" *ngIf="experiences?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="booksApp.experience.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duration"><span jhiTranslate="booksApp.experience.duration">Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="booksApp.experience.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="readOk"><span jhiTranslate="booksApp.experience.readOk">Read Ok</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="read"><span jhiTranslate="booksApp.experience.read">Read</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="booksApp.experience.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="readingId.id"><span jhiTranslate="booksApp.experience.readingId">Reading Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let experience of experiences ;trackBy: trackId">
                <td><a [routerLink]="['/experience', experience.id, 'view' ]">{{experience.id}}</a></td>
                <td>{{experience.userId}}</td>
                <td>{{experience.duration}}</td>
                <td>{{experience.content}}</td>
                <td>{{experience.readOk}}</td>
                <td>{{experience.read}}</td>
                <td>{{experience.note}}</td>
                <td>
                    <div *ngIf="experience.readingId">
                        <a [routerLink]="['../reading', experience.readingId?.id, 'view' ]" >{{experience.readingId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/experience', experience.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/experience', experience.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'experience', { outlets: { popup: experience.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="experiences?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
