<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="booksApp.book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="booksApp.book.userId">User Id</span></dt>
                <dd>
                    <span>{{book.userId}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.bookName">Book Name</span></dt>
                <dd>
                    <span>{{book.bookName}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.bookImage">Book Image</span></dt>
                <dd>
                    <span>{{book.bookImage}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.bookPages">Book Pages</span></dt>
                <dd>
                    <span>{{book.bookPages}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.isBorrow">Is Borrow</span></dt>
                <dd>
                    <span>{{book.isBorrow}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.createTime">Create Time</span></dt>
                <dd>
                    <span>{{book.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.book.bookClassificationId">Book Classification Id</span></dt>
                <dd>
                    <div *ngIf="book.bookClassificationId">
                        <a [routerLink]="['/book-classification', book.bookClassificationId?.id, 'view']">{{book.bookClassificationId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
