<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wishList">
            <h2><span jhiTranslate="booksApp.wishList.detail.title">Wish List</span> {{wishList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="booksApp.wishList.userId">User Id</span></dt>
                <dd>
                    <span>{{wishList.userId}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.wishList.createTime">Create Time</span></dt>
                <dd>
                    <span>{{wishList.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="booksApp.wishList.bookId">Book Id</span></dt>
                <dd>
                    <div *ngIf="wishList.bookId">
                        <a [routerLink]="['/book', wishList.bookId?.id, 'view']">{{wishList.bookId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish-list', wishList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
